body {

}

.page-header {
  text-align: center;
}
.page-header h1 {
  font-family: 'Candal', sans-serif;
  /* color: yellow; */
  font-size: 50px;
  font-weight: bold;
}
.jumbotron .row .col-sm-12 img {
  height: 33px;
  width: 33px;
}
#play-again,
#restart-game {
  margin: 10px;
}
#winPhoto img {
  height: 400px;
  width: 400px;
}
#lossText {
  font-size: 30px;
  color: red;
}
#winText {
  font-size: 30px;
  color: yellow;
}