/* Header */

.page-header {
  text-align: center;
}
.page-header h1 {
  font-family: 'Candal', sans-serif;
  color: yellow;
  font-size: 50px;
  font-weight: bold;
}

/* Footer */
#footer {
  margin: 35px auto;
  font-size: 16px;
  text-align: center;
}

/* Game Output */
.jumbotron .row .col-sm-12 img {
  height: 33px;
  width: 33px;
}

#winsOutput,
#lossesOutput,
#guessesRemainingOutput,
#lettersGuessedOutput {
  font-size: 24px;
}
#currentWordOutput {
  font-size: 34px;
}
#play-again,
#restart-game {
  margin: 10px;
}
#winPhoto img {
  height: 400px;
  width: 400px;
  margin: 0 auto;
}
#lossText {
  font-size: 30px;
  color: red;
}
#winText {
  font-size: 30px;
  color: yellow;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Phone */
@media screen and (max-width: 611px) {

.page-header h1 {
  font-size: 35px;
}
.page-header h1 img {
  height:50px;
  width: 50px;
}
.jumbotron .row .col-sm-12 img {
  height: 25px;
  width: 25px;
}
#winPhoto img {
  height: 325px;
  width: 325px;
  margin-left:15px;
}

}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 767px) {

.page-header h1 {
  font-size: 45px;
}
.page-header h1 img {
  height:60px;
  width: 60px;
}
.jumbotron .row .col-sm-12 img {
  height: 40px;
  width: 40px;
}
#winPhoto img {
  height: 500px;
  width: 500px;
  margin-left: 40px;
}

}

/* Laptop */
@media screen and (min-width: 768px) and (max-width: 991px) {
#subtitle {
  font-size: 38px;
}
.jumbotron .row .col-sm-12 img {
  height: 15px;
  width: 15px;
}
#currentWordOutput {
  font-size: 26px;
}
#winPhoto img {
  height: 250px;
  width: 250px;
}
#lossText {
  font-size: 20px;
  color: red;
}
#winText {
  font-size: 20px;
  color: yellow;
}

}

/* large Screen */
@media screen and (min-width: 992px) and (max-width: 1199px) {
#subtitle {
  font-size: 45px;
}
.jumbotron .row .col-sm-12 img {
  height: 25px;
  width: 25px;
}
#winPhoto img {
  height: 350px;
  width: 350px;
}
#lossText {
  font-size: 20px;
  color: red;
}
#winText {
  font-size: 20px;
  color: yellow;
}

}
